[data-testid="stAppViewContainer"] .main {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5); /* Make the background 50% transparent */
  backdrop-filter: blur(50%);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

[data-testid="stHeader"] {
  background: rgba(0, 0, 0, 0);
}

[data-testid="stToolbar"] {
 right:2rem;
}
