@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}

.stApp > header {
background-color: transparent;
}

.stApp {
--size: 100vh;
--speed: 50s;
--easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

width: var(--size);
height: var(--size);

/* Add the linear gradient to the background */
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: var(--size) var(--size);
animation: gradient var(--speed) var(--easing) infinite, rotate var(--speed) var(--easing) alternate infinite;

filter: blur(calc(var(--size) / 5));
border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

/* This is just to transition when you change the viewport size. */
* {
transition: all 0.25s ease-out;
}
