.stApp > header {
  background-color: transparent;
}

.stApp {
  background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
  animation: my_animation 20s ease infinite;
  background-size: 200% 200%;
  background-attachment: fixed;
}

@keyframes my_animation {
  0% {background-position: 0% 0%;}
  50% {background-position: 100% 100%;}
  100% {background-position: 0% 0%;}
}